.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;

  .logo {
    transform: scale(1.3);
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

/*   TABLET   */

@media screen and (max-width: 768px) {
  .divider {
    :first-child,
    :last-child {
      width: 30%;
    }

    .logo {
      width: 10%;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}
