.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 7.5rem;
  max-width: 1920px;
}

@media screen and (max-width: 1270px) {
  .header {
    flex-direction: column;
    justify-content: center;

    img {
      margin-bottom: 1rem;
    }
  }
}

/*   LAPTOP Small   */

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 4rem;

    img {
      margin-bottom: 0;
    }
  }
}

/*   TABLET   */

@media screen and (max-width: 768px) {
  .header {
    padding: 2rem;

    img {
      width: 8rem;
    }
  }
}
