.pages {
  max-width: 1920px;
  padding: 0 7.5rem;
  width: 100%;
}

.legal-text {
  padding: 0 7.5rem;
  font-size: 17px;
  font-style: italic;
  color: #5b5b5b;
  margin-top: 10rem;
}

/*   LAPTOP Large   */

@media screen and (max-width: 1440px) {
  .pages {
    max-width: 1440px;
    padding: 0 4rem;
  }

  .legal-text {
    padding: 0 4rem;
    font-size: 15px;
  }
}

/*   TABLET   */

@media screen and (max-width: 768px) {
  .pages {
    padding: 0 2rem;
  }

  .legal-text {
    margin-top: 5rem;
    padding: 0 2rem;
  }
}
